.container{
    border: #747474 solid 2px;
}
/* header */
.head{
    display: flex;
    margin-top: 1rem;
}
.rating-filter{
    font-size: 1.5rem;
    font-weight: bold;
    color: goldenrod;
    display: flex;
    justify-content: space-around;
    border:solid gray 2px;
}
.input{
   height: 100% !important;
}
/* main */
/* movies */
.one-mv{
    padding: 1rem;
}
.card-container{
    display: flex;
    margin:2rem;
    justify-content: space-around;
    font-size: 1.2rem;
    color: #747474;
    flex-wrap: wrap;
}
/* new movie */
.add-button{
    width: 50rem;
    height: 5rem;
    margin-left: 10rem;
    font-size: 300%
    
}
/* loading */
